@font-face {
    font-family: "font";
    src: url("SourceSansPro-Black.ttf");
}

body, h1, button, h2 {
    font-family: "font";
}

body {
    margin: 16px;
    background-color: aliceblue;
}

button {
    background-color: rgb(76, 76, 195);
    padding: 8px;
    border-radius: 8px;
    border-style: none;
}

a {
    text-decoration: none;
    color: white
}

.blue {
    color: rgb(76, 76, 195);
}

img:hover {
    opacity: 0.5;
}

img {
    box-shadow: 15px 15px 15px gray;
    margin: 15px;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(44, 44, 98);
}